@tailwind base;
@tailwind components;
@tailwind utilities;

/* 테일윈드 기본단위 rem이 적용되지 않게 하겠다. */
html {
  font-size: 16px;  
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
